@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --progress: 0;
  --opacity: 0;
}

/*

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
@layer components {

  .link-active {
    background-color: rgba(207, 255, 145);

    &::before {
      background-color: rgba(122, 209, 87);
    }
  }

  .loading-bar {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #ffda59;
      opacity: calc(var(--opacity, 0)*100);
      transform-origin: left;
      transform: scaleX(var(--progress, 0));
      transition: opacity 0.3s ease-in-out;
      border-radius: 1px;
    }
  }


}

::-webkit-scrollbar {
  width: 8px;
  /* Set the width of the scrollbar */
  height: 8px;
  /* Set the height for horizontal scrollbars */
}

/* Track styling */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background color of the scrollbar track */
}

/* Handle (thumb) styling */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar handle */
  border-radius: 10px;
  /* Round the edges of the handle */
}

/* Handle hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darken handle when hovered */
}